li {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

ul {
list-style-type: none;
padding: 0;
}
.features-icons {
    color: rgb(240, 133, 25);
    font-size: 3rem;
    padding-right: 2rem;
}
.features-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.nav-item {
display: inline;
list-style-type: none;
}
.nav-link {
padding: 2rem;
color: rgb(240, 133, 25);
}
a:visited {
   color: rgb(240, 133, 25);
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
#header {
position: fixed;
width: 100%;
background-color: black;
top: 0;
}
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#header-img {
width: 20%;
height: 20%;
}
#nav-bar {
display: flex;
flex-direction: row;
justify-content: flex-end;
width: 95%;
padding-top: 0.5rem;
font-size: 1.5rem;
}
#main {
    height: 1500px;
    overflow: scroll;
    padding-top: 10rem;
}