iframe {
    width: 1000px;
    height: 600px;
    border: 0;
}
li {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
}
.product-picture {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#product-imgs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
ul {
    list-style-type: none;
    padding: 1rem 0 0;
    line-height: 1.7;
    font-size: 1.2rem;
}
ul.fa-ul {
    margin-top: 0;
    margin-bottom: 0;
}
.features-icons {
    color: rgb(240, 133, 25);
    font-size: 3rem;
    padding-right: 2rem;
}
.wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#features {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0),tomato);
}
#how-it-works {
    background-image: linear-gradient(to right, tomato, rgba(255, 0, 0, 0));
}
#other-products {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), tomato);
}
#features-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#video-content {
    display: flex;
    justify-content: center;
}
.nav-item {
    display: inline;
    list-style-type: none;
}
.nav-link {
    padding: 1rem;
    color: rgb(240, 133, 25);
    font-family: 'Orbitron', sans-serif;
}
a:visited {
    color: rgb(240, 133, 25);
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
#header {
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0;
    z-index: 1;
}
#navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#header-img {
    width: 15%;
    height: 15%;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    font-size: 1.5rem;
}
#main {
    height: 1500px;
    overflow: scroll;
}
.link-icon {
    font-size: 1rem;
    margin: 0.5rem;
}
#footer {
    font-size: 0.8em;
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    color: rgb(240, 133, 25);
    text-align: center;
}
#copyright {
    margin: 0.5rem;
    padding-top: 0.5rem;
}
h1 {
    text-align: center;
    font-family: 'Orbitron',sans-serif;
    color: rgb(240, 133, 25);
    margin: 0;
    padding: 1rem;
    background-color: black;
}
h2 {
    text-align: center;
    color: rgb(240, 133, 25);
    font-family: 'Titan One', cursive;
    font-size: 2rem;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
#get-more-information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://www.openbusiness.ru/upload/presentations/suhikh%20kormov.jpg") no-repeat fixed;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    height: 30rem;
    padding: 0;
    margin: 0;
}
#email {
    width: 15rem;
    height: 1.5rem;
    border-radius: 5px;
    margin: 0.5rem;
}
#submit {
    margin: 0.5rem;
    height: 1.8rem;
    border-radius: 5px;
    border: #000 solid 1px;
    background-color: chocolate;
    font-family: 'Fredoka One', cursive;
    font-size: 1rem;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card {
    box-shadow: 0 1px 5px #555;
    background-color: white;
    margin-bottom: 4rem;
}
.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.card__title {
    font-size: 1.2rem;
    color: tomato;
    padding: 1rem;
    text-align: center;
    height: 6rem;
}
.card__description {
    padding: 1rem;
    height: 25rem;
    line-height: 1.6em;
    overflow: scroll;
}
.button {
    display: block;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 0.3s ease-out;
}
a.button {
    color: #000;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 4rem;
    grid-gap: 4rem;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 320px) and (max-width: 640px) {
    iframe {
        width: 50%;
    }
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    ul {
        font-size: 0.8rem;
    }
    .wrapper {
        width: 100%;
    }
    a.nav-link {
        font-size: 0.5rem;
    }
    .features-icons {
        font-size: 1rem;
    }
    #header-img {
        width: 50%;
    }
}
@media screen and (min-width: 100px) and (max-width: 320px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .card__description {
        font-size: 0.5rem;
    }
    .card__title {
        font-size: 0.6rem;
    }
    a.nav-link {
        font-size: 0.3rem;
    }
    ul {
        font-size: 0.8rem;
    }
    .wrapper {
        width: 100%;
    }
    .features-icons {
        font-size: 1rem;
    }
    #header-img {
        width: 50%;
    }
    h2 {
        font-size: 1rem;
    }
}
